@import "/src/styles/palette.scss";

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 450px));
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

h1 {
  margin-top: 2rem;
}

//pagination control styles
::ng-deep {
  .pagination {
    &-previous,
    &-next {
      display: none !important;
    }

    .ngx-pagination {
      display: flex;
      justify-content: center;
      gap: 5px;

      a:hover {
        border-radius: 50%;
      }
      .current {
        background-color: $red;
        border-radius: 50%;
      }
    }

    .ng-star-inserted {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, minmax(300px, 450px));
  }
}

@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
    margin: 0;
  }
}
