section {
  background-image: url("../../../assets/components/error/poro-min.jpg");
  color: white;
  background-size: cover;
  min-height: 100vh;
  padding-top: 2rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}
