@import "../../../../styles/palette.scss";

.champion-image {
  position: absolute;
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  object-position: top;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.champion-details {
  position: absolute;
  top: 50%;
  background-color: $dark-blue;
  color: white;
}
