header {
  background-color: #1e272e;
  color: white;
  border-bottom: 4px solid #ff3f34;
}
ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1rem 2rem;
}

h3 {
  margin-right: auto;
  font-weight: 500;
}

a {
  font-size: 1rem;
  color: white;
  transition: 0.2s;
  &:hover {
    color: #ff3f34;
  }
}

.active-route {
  color: #ff3f34;
}
