<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/find-summoner">Find Summoner</a>
      <a mat-list-item routerLink="/champions">LoL Champions</a>
      <a mat-list-item routerLink="/documentation">API Documentation</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a
        class="github"
        href="https://github.com/DimitriTsikaridze/Angular-Firebase"
        target="_blank"
        mat-button
      >
        <img src="../../assets/GitHub-Mark-Light-32px.png" alt="github-logo" />
        <span>GitHub</span>
      </a>

      <h1>League of Legends API</h1>
      <button
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <mat-slide-toggle
        checked="true"
        color="accent"
        (change)="onDarkModeSwitched($event)"
        >Dark Mode</mat-slide-toggle
      >
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
