@import '/src/styles/palette.scss';

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;

  article {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    overflow: hidden;
  }

  img {
    border-radius: 16px;
    transition: 0.2s;
    cursor: pointer;
  }
}

@media only screen and (max-width: 770px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}