<app-title>home</app-title>
<div class="grid-container">
  <article>
    <div class="img-wrapper">
      <img
        appZoomIn
        routerLink="/champions"
        src="../../../assets/components/home/champions.jpg"
        alt="champions"
      />
    </div>
  </article>
  <article>
    <div class="img-wrapper">
      <img
        appZoomIn
        routerLink="/champions/Akali"
        src="../../../assets/components/home/details.png"
        alt="champion-details"
      />
    </div>
  </article>
  <article>
    <div class="img-wrapper">
      <img
        appZoomIn
        routerLink="/champions/Akali"
        src="../../../assets/components/home/skins.jpg"
        alt="champion-skins"
      />
    </div>
  </article>
</div>
