.container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.img-wrapper {
  border-radius: 5px;
  overflow: hidden;
}

img {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.2s;
  cursor: url("../../../assets/hover.png"), auto;
}

@media only screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
