<header>
  <nav>
    <ul>
      <h3 routerLink="/home">League of Legends API</h3>
      <div class="links">
        <li>
          <a routerLinkActive="active-route" routerLink="/home">HOME</a>
        </li>
        <li>
          <a routerLinkActive="active-route" routerLink="/search-summoner"
            >SEARCH SUMMONER</a
          >
        </li>
        <li>
          <a routerLinkActive="active-route" routerLink="/champions"
            >CHAMPIONS</a
          >
        </li>
        <li>
          <a routerLinkActive="active-route" routerLink="/documentation"
            >DOCUMENTATION</a
          >
        </li>
      </div>
    </ul>
  </nav>
</header>
