@import "../../../styles/palette.scss";

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;

  img {
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: url("../../../assets/hover.png"), auto;
  }
}

@media only screen and (max-width: 570px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
