<app-title title="Home"></app-title>
<div class="grid-container">
  <img
    routerLink="/champions"
    class="grid-item animate__animated animate__slideInLeft"
    src="../../../assets/components/home/champions.jpg"
    alt="champion-details-image"
  />
  <img
    routerLink="/champions/Akali"
    class="grid-item animate__animated animate__slideInRight"
    src="../../../assets/components/home/champion-details.jpg"
    alt="champion-images"
  />
  <img
    routerLink="/champions/Akali"
    class="grid-item animate__animated animate__slideInRight"
    src="../../../assets/components/home/skins.jpg"
    alt="champion-images"
  />
</div>
