<app-title title="Home"></app-title>
<div class="grid-container">
  <article class="grid-item">
    <div class="img-wrapper">
      <img
        appZoomIn
        routerLink="/champions"
        src="../../../assets/components/home/champions.jpg"
        alt="champions"
      />
    </div>
  </article>
  <article class="grid-item">
    <div class="img-wrapper">
      <img
        appZoomIn
        routerLink="/champions/Akali"
        src="../../../assets/components/home/details.png"
        alt="champion-details"
      />
    </div>
  </article>
  <article class="grid-item">
    <div class="img-wrapper">
      <img
        appZoomIn
        routerLink="/champions/Akali"
        src="../../../assets/components/home/skins.jpg"
        alt="champion-skins"
      />
    </div>
  </article>
  <article class="grid-item">
    <div class="img-wrapper">
      <img
        appZoomIn
        routerLink="/search-summoner"
        src="../../../assets/components/home/summoner.jpg"
        alt="summoner-stats"
      />
    </div>
  </article>
</div>
