@import "../../../../../styles/palette.scss";

.skins-container {
  padding: 2rem 2rem 8rem 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-end;
  gap: 1rem;
}

.skin {
  display: flex;
  flex-direction: column;
}

.title {
  overflow: hidden;
}
.image {
  overflow: hidden;
  border-radius: 8px;
  &:hover img {
    transform: scale(1.1);
  }
}

img {
  transition: 0.2s ease-out;
  cursor: url("../../../../../assets/hover.png"), auto;
}

@media only screen and (max-width: 1200px) {
  .skins-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .skins-container {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
