main {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  font-size: 1.3rem;
}

button {
  font-size: 1rem;
}

.summoner-icon {
  margin-top: 1rem;
  border-radius: 8px;
  width: 200px;
}
