<main>
  <mat-form-field appearance="outline">
    <mat-label>Enter Summoner Name</mat-label>
    <input autocomplete="off" [formControl]="summonerFormControl" matInput />
  </mat-form-field>
  <button
    [disabled]="!summonerFormControl.value"
    (click)="onGetSummoner()"
    mat-flat-button
    color="primary"
  >
    Find Summoner
  </button>
  <div *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="summonerObject" class="summoner-profile">
    <img
      class="summoner-icon"
      [src]="summonerObject.profileImageURL"
      alt="summoner-image"
    />
  </div>
</main>
