.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem 4rem;
  color: white;
  min-height: calc(100vh - 71px);
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btns {
  display: flex;
  justify-content: space-between;
  button {
    width: 150px;
  }
}

.champion-tips {
  p {
    margin-bottom: 0.5rem;
  }
}

.tips-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
