.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem 4rem;
  color: white;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btns {
  display: flex;
  justify-content: space-between;
  button {
    width: 150px;
  }
}

.champion {
  &-container {
    backdrop-filter: blur(15px);
    border-radius: 24px;
    padding: 1rem;
  }

  &-lore {
    margin-bottom: 3rem;
  }

  &-tips {
    p {
      margin-bottom: 0.5rem;
    }
  }
}

.tips-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}
