<div
  *ngIf="champion"
  [ngStyle]="{ backgroundImage: 'url(' + champion.imageURL + ')' }"
  class="container"
>
  <div class="champion-description">
    <h2>{{ champion.name }}</h2>
    <h3>{{ champion.title }}</h3>
  </div>

  <section class="champion-container">
    <article class="champion-lore">
      <h3>Lore</h3>
      <p>{{ champion.lore }}</p>
    </article>
    <section class="tips-section">
      <article class="ally champion-tips">
        <h3>Ally Tips</h3>
        <p *ngFor="let tip of champion.allyTips; let i = index">
          {{ i + 1 }}) {{ tip }}
        </p>
      </article>
      <article class="enemy champion-tips">
        <h3>Enemy Tips</h3>

        <p *ngFor="let tip of champion.enemyTips; let i = index">
          {{ i + 1 }}) {{ tip }}
        </p>
      </article>
    </section>
  </section>

  <div class="btns">
    <button
      (click)="previousChampion(champion.id)"
      class="back-btn"
      mat-raised-button
    >
      Go Back
    </button>

    <button
      (click)="nextChampion(champion.id)"
      class="next-btn"
      mat-raised-button
    >
      Next
    </button>
  </div>
</div>
