.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  gap: 3rem;
  color: white;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}

.champion {
  &-container {
    backdrop-filter: blur(30px);
    border-radius: 24px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    gap: 2rem;
    h3 {
      margin-bottom: 1rem;
    }
    p {
      line-height: 24px;
    }
  }

  &-tips {
    p {
      margin-bottom: 0.5rem;
    }
  }
}

.arrows {
  i {
    position: absolute;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      cursor: pointer;
    }
  }

  .fa-arrow-left {
    left: 1.5rem;
  }
  .fa-arrow-right {
    right: 1.5rem;
  }
}
