<section>
  <app-title>search summoner</app-title>
  <app-search-bar
    [valueControl]="summonerName"
    (clickEvent)="onGetSummoner()"
    placeHolder="Search Summoner"
  ></app-search-bar>
</section>

<ng-container *ngIf="!isError; else error">
  <ng-container *ngIf="summonerInfo; else loading">
    <div class="summoner-profile">
      <div class="profile-icon">
        <img
          src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/profile-icons/{{
            summonerInfo.profileIconId
          }}.jpg"
          alt="summoner-img"
        />
        <div class="summoner-level">
          <span>{{ summonerInfo.summonerLevel }}</span>
        </div>
      </div>

      <h2>{{ summonerInfo.name }}</h2>
    </div>

    <app-title>highest mastery champions</app-title>
    <div class="container">
      <div
        *ngFor="let champion of summonerInfo.championMasteries; let i = index"
        [routerLink]="['/champions', champion.championName]"
        class="champion-overview champion-{{
          i
        }} animate__animated animate__fadeIn"
      >
        <img
          class="champion-icon"
          src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-tiles/{{
            champion.championId
          }}/{{ champion.championId }}000.jpg"
          alt="champion-icon"
        />
        <img
          class="mastery"
          src="https://raw.communitydragon.org/latest/game/assets/ux/mastery/mastery_icon_{{
            champion.championLevel
          }}.png"
          alt="champion-mastery"
        />
        <h4>{{ champion.championName }}</h4>
        <div class="stats">
          <div class="points">
            <img
              src="../../../assets/components/searc-summoner/mastery.svg"
              alt="mastery-icon"
            />
            <h5>{{ champion.championPoints | number }} pts</h5>
          </div>
          <div class="level">
            <img
              src="../../../assets/components/searc-summoner/level.svg"
              alt="level-icon"
            />
            <h5>{{ champion.championLevel }} lvl</h5>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #error>
  <app-title>api key has expired</app-title>
</ng-template>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
