@import 'colors';

div {
  display: flex;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 1.7rem;
  color: #1e272e;
}

h1:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -10%;
  background-color: $red;
  height: 5px;
  border-radius: 5px;
  width: 120%;
}

@media only screen and (max-width: 480px) {
  h1::after {
    left: 0;
    width: 100%;
  }
}