@import "../../../../styles/palette.scss";

.top-content {
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  &:hover img {
    transform: scale(1.1);
  }
}

.champion {
  &-card {
    border-radius: 16px;
    overflow: hidden;
    transition: 0.2s;

    img {
      transition: 0.3s;
    }
  }
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  bottom: 15px;
  color: white;
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.tags {
  display: flex;
  gap: 1rem;
  h6 {
    background-color: $dark-blue;
    font-size: 0.8rem;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 16px;
    padding: 5px 12px;
    transition: 0.2s;
    &:hover {
      color: white;
      background-color: $red;
    }
  }
}

article {
  border-top: 4px solid $red;
  background-color: $dark-blue;
  padding: 15px 10px;
  p {
    min-height: 100px;
    color: white;
    font-size: 14px;
    line-height: 1.3em;
  }
}

@media only screen and (max-width: 500px) {
  .tags {
    flex-direction: column;
    text-align: center;
  }
}
