<app-title>champions</app-title>
<pagination-controls
  class="pagination"
  (pageChange)="p = $event"
></pagination-controls>
<div class="container">
  <ng-container *ngIf="champions$ | async as champions">
    <div
      *ngFor="
        let champion of champions
          | paginate: { itemsPerPage: 6, currentPage: p };
        let i = index
      "
    >
      <app-single-champion
        [index]="i"
        [champion]="champion"
      ></app-single-champion>
    </div>
  </ng-container>
</div>
<pagination-controls
  class="pagination"
  (pageChange)="p = $event"
></pagination-controls>
