@import "../../../../styles/palette.scss";

.container {
  position: relative;
}

.left-arrow,
.right-arrow {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 2rem;
}

.left-arrow {
  left: 50px;
}
.right-arrow {
  right: 50px;
}

.champion-image {
  position: absolute;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: top;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.back-arrow {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 10vw;
}

.section {
  position: absolute;
  top: 440px;
}

.champion-details {
  background-color: $dark-blue;
  position: relative;
  margin: 0 10vw;
  color: white;
  border: 3px solid $red;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr;
  gap: 2rem;
  padding: 52px 20px 52px 76px;
}

.champion-name {
  position: absolute;
  width: 100%;
  top: -100px;
  left: 0;
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.stats {
  text-align: center;
  border: 3px solid $red;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  position: relative;
  h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.champion-difficulty {
  h4 {
    font-size: 22px;
  }
  span {
    color: $red;
  }
}

.champion-lore {
  margin-left: 50px;
  position: relative;
  align-self: center;
  &::before {
    content: "";
    position: absolute;
    left: -20px;
    top: -20%;
    background-color: $red;
    width: 3px;
    height: 140%;
  }
}

.skins {
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .back-arrow {
    left: 50px;
  }

  .champion-details {
    margin: 50px;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
  }

  .champion-lore {
    grid-column: span 2;
    margin-left: 0;
    &::before {
      display: none;
    }
  }
}

@media only screen and (max-width: 700px) {
  .back-arrow {
    left: 20px;
  }

  .left-arrow,
  .right-arrow {
    top: 300px;
  }
  .left-arrow {
    left: 10px;
  }
  .right-arrow {
    right: 10px;
  }
  .champion-name {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .champion-image {
    object-position: center;
    border-radius: 0;
  }
  .champion-details {
    grid-template-columns: 1fr;
    margin: 0 10px;
  }

  .champion-lore {
    grid-column: 1;
  }

  .stats {
    padding: 10px;
  }
}
