<div *ngIf="champion$ | async as champion" class="wrapper">
  <div class="container">
    <svg
      class="back-arrow"
      alt="arrow"
      routerLink="/champions"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="37.243"
      height="52.243"
      viewBox="0 0 37.243 52.243"
    >
      <defs>
        <filter
          id="Line_1"
          x="0"
          y="0"
          width="37.243"
          height="37.243"
          filterUnits="userSpaceOnUse"
        >
          <feOffset dy="3" input="SourceAlpha" />
          <feGaussianBlur stdDeviation="3" result="blur" />
          <feFlood flood-opacity="0.161" />
          <feComposite operator="in" in2="blur" />
          <feComposite in="SourceGraphic" />
        </filter>
        <filter
          id="Line_2"
          x="0"
          y="15"
          width="37.243"
          height="37.243"
          filterUnits="userSpaceOnUse"
        >
          <feOffset dy="3" input="SourceAlpha" />
          <feGaussianBlur stdDeviation="3" result="blur-2" />
          <feFlood flood-opacity="0.161" />
          <feComposite operator="in" in2="blur-2" />
          <feComposite in="SourceGraphic" />
        </filter>
      </defs>
      <g
        id="Group_10"
        data-name="Group 10"
        transform="translate(-127.879 -108.879)"
      >
        <g transform="matrix(1, 0, 0, 1, 127.88, 108.88)" filter="url(#Line_1)">
          <line
            id="Line_1-2"
            data-name="Line 1"
            y1="15"
            x2="15"
            transform="translate(11.12 8.12)"
            fill="none"
            stroke="#fff"
            stroke-linecap="round"
            stroke-width="3"
          />
        </g>
        <g transform="matrix(1, 0, 0, 1, 127.88, 108.88)" filter="url(#Line_2)">
          <line
            id="Line_2-2"
            data-name="Line 2"
            x2="15"
            y2="15"
            transform="translate(11.12 23.12)"
            fill="none"
            stroke="#fff"
            stroke-linecap="round"
            stroke-width="3"
          />
        </g>
      </g>
    </svg>

    <img
      [src]="champion.imageURL"
      class="champion-image"
      alt="champion-image"
    />

    <section class="section">
      <div class="champion-details">
        <div class="champion-name">
          <h1>{{ champion.name }}</h1>
          <h2>{{ champion.title }}</h2>
        </div>

        <div class="champion-role stats">
          <h3>ROLE</h3>
          <h4>{{ champion.tags[0] }}</h4>
          <h4>{{ champion.tags[1] }}</h4>
        </div>
        <div class="champion-difficulty stats">
          <h3>DIFFICULTY</h3>
          <h4>{{ champion.difficulty }} <span>/</span> 10</h4>
        </div>
        <article class="champion-lore">
          {{ champion.lore }}
        </article>
      </div>

      <app-title>{{ champion.name }} Skins</app-title>
      <div class="skins">
        <app-skins [champion]="champion" />
      </div>
    </section>
  </div>
</div>

<ng-template #loadingBar>
  <app-loading />
</ng-template>
