@use "@angular/material" as mat;

@include mat.core();

$league-of-legends-api-primary: mat.define-palette(mat.$indigo-palette);
$league-of-legends-api-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$league-of-legends-api-warn: mat.define-palette(mat.$red-palette);

$league-of-legends-api-theme: mat.define-light-theme(
  (
    color: (
      primary: $league-of-legends-api-primary,
      accent: $league-of-legends-api-accent,
      warn: $league-of-legends-api-warn,
    ),
  )
);

@include mat.all-component-themes($league-of-legends-api-theme);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

$blue: blue;
