.champion {
  &-card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
  }
  &-name {
    position: absolute;
    left: 15px;
    top: 40%;
    color: white;
    font-size: 1.5rem;
  }
}

article {
  border-top: 4px solid #ff3f34;
  background-color: #1e272e;
  padding: 15px 10px;
  p {
    height: 100px;
    color: white;
    text-align: center;
    font-size: 14px;
  }
}
