.top-content {
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  &:hover img {
    transform: scale(1.1);
    z-index: -1;
  }
}

.champion {
  &-card {
    border-radius: 16px;
    overflow: hidden;
    transition: 0.2s;

    img {
      transition: 0.2s;
    }
  }

  &-name {
    position: absolute;
    color: red;
    left: 15px;
    bottom: 15px;
    color: white;
    font-size: 1.5rem;
    z-index: 10;
  }
}

article {
  border-top: 4px solid #ff3f34;
  background-color: #1e272e;
  padding: 15px 10px;
  p {
    height: 100px;
    color: white;
    font-size: 14px;
  }
}
